version: '3.8'

networks:
  app_network:

services:
  # ==================== Reverse Proxy ====================
  nginx:
    image: nginx:1.27-alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot          
      - ./certbot/conf:/etc/letsencrypt         
    depends_on:
      backend:
        condition: service_started
      # vbackend:
      #   condition: service_started
      frontend:
        condition: service_started
      pgadmin:
        condition: service_started
    restart: unless-stopped
    networks:
      - app_network

  # ==================== Database ====================
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: sukjai
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d sukjai"]
      interval: 5s
      timeout: 5s
      retries: 12
    restart: unless-stopped
    networks:
      - app_network

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    expose:
      - "80"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app_network

  # ==================== Backends ====================
  # vbackend:
  #   build: ./VBackend
  #   container_name: VoiceChatBackend
  #   restart: always
  #   expose:
  #     - "8000"
  #   networks:
  #     - app_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: Backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/.env:/app/.env:ro
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    expose:
      - "8080"
    networks:
      - app_network

  # ==================== Frontend ====================
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "/api"
        VITE_IMG_URL: "/BgImage/"
        VITE_PF_URL: "/images/profile/"
    container_name: Frontend
    restart: unless-stopped
    expose:
      - "80"
    networks:
      - app_network

  # ==================== Certbot (Let's Encrypt) ====================
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    networks:
      - app_network


volumes:
  postgres_data:
  letsencrypt:      # <— เพิ่มอันนี้
  certbot_www:      # <— แล้วก็อันนี้
