

/* ตั้งค่าพื้นหลังของหน้า login */
.login-wrapper .login-page {
  background-color: #C2F4FF; /* เปลี่ยนสีพื้นหลังตามต้องการ */
  height: 100vh;  /* ความสูงของหน้าเต็มจอ */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.login-wrapper .card-login {
  width: 450px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #C2F4FF, #ffffff); /* Gradient from #C2F4FF to white */
}

.login-wrapper .login-logo {
  width: 50%;
  margin-bottom: 20px;
}

.login-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.login-wrapper h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.login-wrapper .login-button {
  width: 100%;
  background: linear-gradient(180deg, #86D2E2, #90c5ff); /* Gradient from bottom to top */
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 20px;
  transition: background 0.3s ease; /* Smooth transition on hover */
}

.login-wrapper .login-button:hover {
  background: linear-gradient(180deg, #2a5a8e, #86D2E2); /* Reverse gradient effect on hover */
}

.login-wrapper a {
  color: #2a5a8e;
}
